
    body{
        background-color: blanchedalmond;
    }
    
    div.menu{
        position: sticky;
        top: 0;
        z-index: 1;
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: rgba(0,0,0,0.92);
        box-shadow: 0 0 1px 1px red;
      }
  
      ul li {
        display: inline-block;
      }
  
      ul li a {
        width: 300px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        display: inline-block;
        color: white;
        text-decoration: none;
        text-align: center;
        
      }
      
      ul li a:hover{
          background-color: gray;
          color: black;
      }
      /* ******************DISPLAY IMAGE***********************/

      div.display{
        float: left;
      }
      img.display{
            margin-top: 10px;
            width: 800px;
            height: 350px;
            display: block;  
      }

      div.display button{
          font: 500 16px black;
          width: 130px;
          height: 40px;
          margin: 30px;
          margin-top: 10px;

          border: none;
          border-radius: 10px;

          background-color: rgb(153, 78, 78);
          color: black;
      }
      div.display button.btn-1{
        color: chartreuse;
      }

      div.display button:hover{
        box-shadow: 0 0 5px 2px black;
      }
/**************************RIGHT*******************************/

div.right{
    width: 500px;
    height: 400px;
    background-color: brown;
    float: right;
    margin-top: 10px;
    margin-right: 10px;

    overflow: scroll;
}

div.right div.sticky{
    font-size: 18px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: black;
    color: white;

    position: sticky;
    top: 0;

}

div.right img{
    width: 160px;
    height:160px;
    margin: 20px;
    margin-left: 50px;
    border: solid 2px black;

    box-shadow: 0 0 2px 2px black;
}

div.right img:hover{
    transform: scale(1.2);
    transition-delay: .2s;
}

/*******************BOTTOM********************************/

div.bottom{
    height: 310px;
    width: 1350px;
    clear: both;
    background-color: yellow;
    overflow: auto;
    white-space: nowrap;
}

div.bottom img{
    margin: 15px;
    width: 400px;
    height: 250px;
}

/*********************TOYS*****************************/

div.product {
    border: gray 2px solid;
    width: 260px;
    height: 450px;
    margin: 15px;
    box-shadow: 0 0 10px 1px #080808;
    background-color: white;
    border-radius: 10px;
    text-align: center;

    position: relative;
    overflow: hidden;

    display: inline-block;
  }
  .product:hover {
    transform: scale(1.1);
  }
  div.product img{
      width: 280px;
      height: 300px;
      z-index: 0;
  }
  .product .title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }

  .product .description {
    margin: 10px;
    font-size: 18px;
    color: gray;
  }

  .product .ribbon{
    background-color: red;
    color: white;
    text-align: center;
    height: 40px;
    width: 250px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
  }
  .product .ribbon-left {
    transform: rotate(-45deg);
    position: absolute;
    left: -80px;
    top: 20px;
  }