#body1{
    background: url(1.jpg);
    background-size: cover;
}

#heading{
    color: white;
    text-shadow: 3px 4px 3px #FF0000, 2px 2px 5px #0000FF;
    font-size: 28px;
    font-weight: 300;
    font-family: cursive;
    margin-left: 60px;
    margin-top: 100px;
}
#sub-heading{
    font-size: 22px;
    font-style: italic;
    color: lightblue;
    margin-left: 120px;
    margin-top: 90px;
}
#gallary{
    margin-left: 150px;
    width: 120px;
    height: 120px;
    background: url(5.jpeg);
    background-size: cover;
    padding: 20px;
    font-size: 40px;
    color: whitesmoke;
}
a:any-link{
    color: rgba(117, 223, 75, 0.822);
    text-decoration: none;
}
a:hover{
    color: rgb(243, 75, 75);
    cursor: pointer;
}

/* Song.html page */

#body2{
    background: url(7.jpeg);
    background-size: cover;
}

#image{
    float: left;
    margin-top: 50px;
    margin-left: 150px;
    height: 400px;
    width: 330px;
    border: solid black;
}
#info{
    color: white;
    float: right;
    margin-top: 50px;
    margin-right: 250px;
    height: 400px;
    width: 500px;
    background-color: rgb(0,0,0,0.6);
    text-align: center;
}

/* Play.html page */

#body3{
    background: url(7.jpeg);
    background-size: cover;
}

#play{
    color: white;
    margin-top: 100px;
    margin-left: 370px;
    padding: 30px;
    height: 300px;
    width: 500px;
    background-color: rgb(0,0,0,0.7);
    text-align: center;
}

/* Gallary.html page */

#body4{
    background: url(7.jpeg);
    background-size: cover;
}